<div class="ui-g-12">
    <div class="ui-g-2"></div>
    <div class="ui-g-8" style="color: #fafafa; text-align: center; font-style: italic; font-family: -webkit-pictograph;">
        <h3>" Welcome to Vendors! "</h3>
        <h2 style="color: black;">Ngrx project Template</h2>
        <img src="/assets/img/hacker.png" style="width: 120px;" />
    </div>
    <div class="ui-g-2"></div>
</div>

<div class="ui-g-12">
    <div class="ui-g-2"></div>
    <div class="ui-g-8" style="background: rgb(167, 167, 167); color: white;">
        Menu: 
        <button pButton type="button" class="ui-button-secondary" label="Main" routerLink="/"></button>
        <button pButton type="button" class="ui-button-secondary" label="Make color" routerLink="/color"></button>
        <button pButton type="button" class="ui-button-secondary" label="Vendor's List" routerLink="/vendors"></button>
        <button pButton type="button" class="ui-button-secondary" label="Search Books" routerLink="/books"></button>
    </div>
    <div class="ui-g-2"></div>
</div>